* {
    font-family: 'Roboto';font-size: 22px;
}


.container-main-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1f2937;
    padding-bottom: 50px;
}

nav {
    display: inline-flex;
    
}
a {
    padding: 0px 20px 0px 20px;
    color: white;
    text-decoration: none;
}

.nav-links {
    align-self: center;
}

.nav-logo {
    margin:auto;
    color: white;
    padding-right: 32rem;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1f2937;
    padding-bottom: 50px;
}

.container-2 {
    display:flex;
}

.container-1 .inner-container {
    padding-right: 34rem;
    width: 550px;
}